html, label, button, body {
	font-family: 'Open Sans', sans-serif !important;
}

#title {
	text-align: center;
	font-style: italic;
	font-size: 70px;
}

#header {
	padding: 10px;
}

#chart {
	padding: 10px;
}

#racebar {
	padding: 10px;
	display: flex;
	height: 40px;
	vertical-align: center;
	border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,.2);
}

#roundbox  {
	background-color: #fcfcfc;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

#raceyear {
	padding: 10px;
}

#racename {
	float: left;
	text-align: left;
	width: 50%;
}

#racedate {
	width: 25%;
	text-align: center;
}

#racetime {
	float:right;
	width: 25%;
	text-align: right;
}

#info {
	text-align: center;
}

.sr {
	background-color: #f4fef4;
}

canvas {
  height:600px !important;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}